<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.free.gelmir.lerubanbleu"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".activity.LeRubanBleuActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".DummyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SelectLanguageActivity"/>

        <service android:name=".service.LibraryService" />

        <provider android:name=".provider.ArticleProvider"
                  android:authorities="fr.free.gelmir.lerubanbleu.provider.ArticleProvider" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>